<div class="flex flex-row ">
    <div #sideMenu class="relative top-0 ml-0 w-[240px] h-screen z-50 bg-white px-5 pt-2 pb-5
        flex flex-col space-y-5 border-r border-gray-200 duration-300">
        <img class="w-4/12 mb-5" src="assets/images/logo.png" />
        <app-menu-item *ngFor="let menu of menus" [menu]="menu"></app-menu-item>
        <div class="flex justify-between items-center absolute bottom-0 left-0 right-0 text-gray-400 text-sm p-5">
            Powered By <img class="inline align-bottom h-7" src="assets/images/qt-logo.png" />
        </div>
    </div>
    <div class="flex-1">
    <header class="bg-white border-t border-b border-gray-200 text-lg h-14">
        <a href="javascript: void(0);" (click)="toggleMenu(sideMenu)">
            <div class="w-11/12 mx-auto py-5">
                <div class="space-y-1">
                    <div class="w-5 h-0.5 bg-gray-600"></div>
                    <div class="w-5 h-0.5 bg-gray-600"></div>
                    <div class="w-5 h-0.5 bg-gray-600"></div>
                </div>
            </div>
        </a>
    </header>
    <ng-content></ng-content>
    </div>
</div>